.Social{
    text-align: right;
    font-style: normal;
    letter-spacing: normal;
    background-color: #242b2e;
    padding-right: 25px;
}
.social-icon{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0.5;
}
.social-icon:hover{opacity: 1;}

.facebook:hover{color:#1861c0;}
.twitter:hover{color:#30acf8;}
.instagram:hover{color: #b124e0} 
.pinterest:hover {color:#f33f54}
.youtube:hover {color:#FF0000}
.vimeo:hover {color:#43C9E2}
.skype:hover {color:#00AAE8}
.gmail:hover {color:#ca3a2d}
.whatsapp:hover{color: #00BD07}
.linkedin:hover {color:#0A66C2}
.telegram:hover {color:#2CA4D8}
.github:hover {color:#000000}
.stackoverflow:hover {color:#F67F23} 
.bitbucket:hover { color:#2684FF}
.medium:hover{color:#000000}