.Copyright{
    color: rgb(107, 112, 114);
    background-color: rgb(36, 43, 46);
    font-family: "Roboto - Thin", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;

}
.Copyright:hover{
    color: rgb(31, 149, 147);
}