.Copyright{
    color: #6b7072;
    font-family: "Roboto - Thin", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: right;
    background-color: #242b2e;
    padding-right: 25px;

}