.About__downloadCV{
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(26, 181, 179);
    padding: 25px 120px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.About__downloadCV:hover{
    background-color: rgb(24, 24, 24);
    transition: background-color 0.2s ease-in;
}
.About__downloadCV-icon{

}

@media screen and (max-width: 941px) {
    .About__downloadCV{
        padding: 15px 100px;
        margin-bottom: 10px;
    }
    .About__downloadCV:hover{

    }
    .About__downloadCV-icon{

    }
}
