.share-btn-wrapper{
    display: flex;
    margin-top: 30px;
 }
 .share-btn__link{
     width: 75px;
     border-radius: 50%;
     margin: 10px;
     font-size: 28px;
     line-height: 65px;
     text-align: center;
     background-color:  #cfcbcb;
     color: #111111;
     opacity: 1;
     transition: all 0.3s ease-in-out;
 }
 .share-btn__icon{
     margin-top: 24px;
 }
 
 .share-btn__link:nth-child(1):hover{
     background-color: #59a4f0;
 }
 .share-btn__link:nth-child(2):hover{
     background-color: #ea4335;
 }
 .share-btn__link:nth-child(3):hover{
     background-color:#1d71c5;
 }
 .share-btn__link:nth-child(4):hover{
     background-color: #ffffff;
 }
 .share-btn__link:hover{
     box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
 }