.Contacts{
    background-color: rgb(38, 75, 133);
    background-color: #b4b7b8;
    width: 100%;
}
.test{
    font-size: 40px;
}
.leaflet-container {
    z-index: 1;
    height: 725px;
    width: 100%;
}

.map-marker{}
.map-marker-popup{ } 
.map-marker-popup-body{}

.map-marker-popup__name{
    color: #0e0c0c;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.map-marker-popup__description{
    color:  #0e0c0c;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.map-marker-popup__address{
    color: #0078A8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
}
.map-marker-popup__workingHours{}
.map-marker-popup__telephone{
    color: #0078A8;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
}
.map-marker-popup__telephone:hover{
    text-decoration: underline;
}
.map-marker-popup__website{
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.map-marker-popup__website:hover{
    outline: #0078A8 solid 2px;
}
.map-marker-popup__address__icon{ font-size: 18px; margin-bottom: -3px; margin-right: 5px;}
.map-marker-popup__telephone__icon{ font-size: 20px; margin-bottom: -2px; margin-right: 5px;}
.map-marker-popup__description__icon{ font-size: 20px; margin-bottom: -4px; margin-right: 1px; margin-left: -5px;}

.MapContainer-wrapper{
    position: relative;
    height: 725px;
    width: 100%;
}
.showITCompaniesBtnFalse{
    color: #ffffff;
    background-color: #22947b;
    background-color: #52a7a7;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    padding: 10px 16px;
    top: 25px;
    right: 25px;
    border-radius: 2px;
    border: #ffffff solid 2px;
    z-index: 2;

}
.showITCompaniesBtnTrue{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    padding: 10px 16px;
    top: 25px;
    right: 25px;
    border-radius: 2px;
    background-color: #fff;
    border: #52a7a7 solid 2px;
    z-index: 2;
}