.Form-container{   
    max-width: 700px;
    background-color: rgb(243, 243, 243);
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 20px;
    border-radius: 2px;
    border: 1px solid  #459f9f;
    position: absolute;
    top: 25px;
    left: 70px;
    z-index: 3;

    min-width: 560px;
    min-height: 331px;
}
.Form-title{
    color:#000000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    margin-bottom: 3px;
    font-family: 'Noto Sans', sans-serif;
}
.form{
    display: flex;
    flex-direction: row;
    
}
.Form-col1{}
.Form-section{
    max-width: 350px; 
    display: flex;
    margin: 10px 10px 25px 0;
    position: relative;
}
.errorNameMessage{
    position: absolute;
    bottom: -13px;
    left: 163px;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

.errorEmailMessage{
    position: absolute;
    bottom: -13px;
    left: 110px;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}
.errorLinkMessage{
    position: absolute;
    bottom: 2px;
    left: 165px;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}



.Form-field{
    color: #848484;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    border: 1px solid #bcbcbc;
}
.From-input-icons{
    padding: 15px;
    background-color: #459f9f;
}
.Form-input-icons-item{
    min-width: 30px;
    height: 30px;
    padding: 5px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.Form-col2{
    margin-left: 10px;
}
.Form-message-section{
    max-width: 450px; 
    height: 148px;
    display: flex;
    margin: 10px 0px 25px 0;
    position: relative;
}
.errorMessageMessage{
    position: absolute;
    bottom: -14px;
    left: 162px;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}
.Form-message-field{
    width: 232px;
    color: #848484;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    border: 1px solid #bcbcbc;

}

.Form-submit-btn{
    background-color: #459f9f;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px 65px;
    text-align: center;
}
.Form-submit-btn:disabled{
    background-color: #848484;
}
.Form-submit-btn-inner{
    display: flex;
    align-items: center;
}
.Form-submit-btn-text{
}
.Form-submit-btn-icon{
    color: #ffffff;
    font-size: 22px;
    margin-left: 10px;
}


.success{

}
.success-icon{
    color: #2e905f;
    color: #459f9f;
    color: #848484;
    font-size: 120px;

    margin-left: 210px;
    margin-top: 95px;
}
.Form-container-2{
    max-width: 700px;
    background-color: rgb(243, 243, 243);
    padding-left: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 20px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    left: 70px;
    z-index: 3;

    min-width: 560px;
    min-height: 331px;
}

.lds-dual-ring {
    display: inline-block;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 110px;
    left: 250px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #848484 transparent #848484 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
