.Form-container{   
    max-width: 782px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 2px;
    position: absolute;
    top: 25px;
    left: 70px;
    z-index: 3;
}
.Form-title{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}
.form{
    display: flex;
    flex-direction: row;
}
.Form-col1{}
.Form-section{
    width: 347px; 
}
.Form-field{
    color: #848484;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    border: 1px solid #eaeaea;

}
.form{
    
}
.Form-col2{

}
.Form-message-section{
    width: 364px;
}
.Form-message-field{
    color: #848484;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
}
.Form-input-icons{
    min-width: 30px;
    height: 30px;
    padding: 5px;
    color: #1ab5b3;
    border: 1px solid #1ab5b3;;
    border-radius: 50%;


}
.Form-submit-btn{

}






    



