.Form-container{   
    max-width: 782px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 2px;
    position: absolute;
    top: 25px;
    left: 70px;
    z-index: 3;
}
.Form-title{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}
.form{
    display: flex;
    flex-direction: row;
}
.Form-col1{}
.Form-name-section{
    width: 347px;
    border: 1px solid #eaeaea;  
}
.Form-name-field{

    
}
.Form-email-section{

    
}
.Form-email-field{

    
}
.Form-link-section{}
.Form-link-field{}
.form{
    
}
.Form-col2{}
.Form-message-section{}
.Form-message-field{}
.Form-submit-btn{}






    



